
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}
header h1{
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
}

.dark-mode {
  background-color: #222222;
  color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.controls {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s;
}
.dark-mode .controls {
  background-color: #333;
  border-color: #444;
}

.controls input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.dark-mode .controls input {
  background-color: #555;
  border-color: #666;
  color: #fff;
}

.controls button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: rgb(0,36,9);
  background: linear-gradient(90deg, rgba(0,36,9,1) 0%, rgba(6,3,197,1) 0%, rgba(24,12,153,1) 100%);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.leaflet-popup-content {
  margin: 25px ;
}
.leaflet-popup-content-wrapper {
  background: rgb(0,36,9);
  background: linear-gradient(90deg, rgba(0,36,9,1) 0%, rgba(6,3,197,1) 0%, rgba(24,12,153,1) 100%);
  color: white !important;
  border-radius: 10px;
  padding: 10px;
}

.leaflet-popup-tip {
  background: rgb(0,36,9);
  background: linear-gradient(90deg, rgba(0,36,9,1) 0%, rgba(6,3,197,1) 0%, rgba(24,12,153,1) 100%);
}

.popup-content h2 {
  margin: 0 0 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.popup-content img {
  width: 50px;
  height: 50px;
}

.popup-content p {
  margin: 5px 0;
  font-size: 14px;
}

.error {
  color: red;
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.dark-mode .error {
  color: red;
}
@media (max-width: 768px) {
  .search-button {
    margin-top: 20px; 
  }
}
